<% if flight_history.errors.any? %>
  <% flight_history.errors.full_messages.each do |message| %>
  <div class="alert alert-danger" role="alert">
    <%= message %>
  </div>
  <% end %>
<% end %>
<%= form_with(model: flight_history, local: true) do |form| -%>
<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="form-group">
        <%= form.label :username, class: "font-weight-bold" %>
        <%= form.text_field :username, placeholder: "Enter username", class: "form-control" %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-group">
        <%= form.label :flight_id, class: "font-weight-bold" %>
        <%= form.text_field :flight_id, placeholder: "Enter flight_id", class: "form-control" %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-group">
        <%= form.label :orig_airport, class: "font-weight-bold" %>
        <%= form.text_field :orig_airport, placeholder: "Enter orig_airport", class: "form-control" %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-group">
        <%= form.label :dest_airport, class: "font-weight-bold" %>
        <%= form.text_field :dest_airport, placeholder: "Enter dest_airport", class: "form-control" %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-group">
        <%= form.label :begin_date, class: "font-weight-bold" %>
        <%= form.text_field :begin_date, placeholder: "Enter begin_date", class: "form-control" %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-group">
        <%= form.label :class, class: "font-weight-bold" %>
        <%= form.text_field :class, placeholder: "Enter class", class: "form-control" %>
      </div>
    </li>
  </ul>
  <div class="card-footer">
    <%= link_to "Cancel", flight_history, class: 'btn btn-outline-secondary float-left' if flight_history.persisted? %>
    <%= link_to "Cancel", flight_histories_path, class: 'btn btn-outline-secondary float-left' if !flight_history.persisted? %>
    <%= form.submit "Save", class: "btn btn-primary float-right" if flight_history.persisted? %>
    <%= form.submit "Create", class: "btn btn-primary float-right" if !flight_history.persisted? %>
  </div>
</div>
<% end %>
