<% if flight_availability.errors.any? %>
  <% flight_availability.errors.full_messages.each do |message| %>
  <div class="alert alert-danger" role="alert">
    <%= message %>
  </div>
  <% end %>
<% end %>
<%= form_with(model: flight_availability, local: true) do |form| -%>
<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="form-group">
        <%= form.label :flight_id, class: "font-weight-bold" %>
        <%= form.text_field :flight_id, placeholder: "Enter flight_id", class: "form-control" %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-group">
        <%= form.label :segment_number, class: "font-weight-bold" %>
        <%= form.number_field :segment_number, placeholder: "Enter segment_number", class: "form-control" %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-group">
        <%= form.label :flight_date, class: "font-weight-bold" %>
        <%= form.date_select :flight_date, placeholder: "Enter flight_date", class: "form-control" %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-group">
        <%= form.label :economy_seats_taken, class: "font-weight-bold" %>
        <%= form.number_field :economy_seats_taken, placeholder: "Enter economy_seats_taken", class: "form-control" %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-group">
        <%= form.label :business_seats_taken, class: "font-weight-bold" %>
        <%= form.number_field :business_seats_taken, placeholder: "Enter business_seats_taken", class: "form-control" %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-group">
        <%= form.label :firstclass_seats_taken, class: "font-weight-bold" %>
        <%= form.number_field :firstclass_seats_taken, placeholder: "Enter firstclass_seats_taken", class: "form-control" %>
      </div>
    </li>
  </ul>
  <div class="card-footer">
    <%= link_to "Cancel", flight_availability, class: 'btn btn-outline-secondary float-left' if flight_availability.persisted? %>
    <%= link_to "Cancel", flight_availabilities_path, class: 'btn btn-outline-secondary float-left' if !flight_availability.persisted? %>
    <%= form.submit "Save", class: "btn btn-primary float-right" if flight_availability.persisted? %>
    <%= form.submit "Create", class: "btn btn-primary float-right" if !flight_availability.persisted? %>
  </div>
</div>
<% end %>
